{% extends '::base.html.twig' %}
{% block body %}
<div class="w3-container">
  <h2>Cervezas</h2>
  {% for cerveza in IdCerveza %}
    <div class="w3-card-4" style="width:50% " >
      <img src="{{ asset("img/{{ cerveza.foto }}") }}" alt="{{ cerveza.nombre }}" width="50%" height="300px;" >
      <div class="w3-container w3-center">
        <p>Nombre:{{ cerveza.nombre }}</p>
        <p>Pais:{{ cerveza.nombre }}</p>
        <p>Poblacion:{{ cerveza.nombre }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
